.section {
  .title {
    display: flex;
    padding: 0 15px;
    border-bottom: 2px solid #F55531;
    margin: 10px 0;

    svg {
      color: #F55531;
    }

    h3 {
      margin: 0 0 10px 10px;
    }
  }

  p {
    padding: 0 15px;
  }
}